/**
 * App Window
 */
@define-color bg_color #E0E0E0;
@define-color window_bg @bg_color;
@define-color window_border_color #333232;
@define-color prefs_backgroud #333232;

/**
 * Input
 */
@define-color selected_bg_color #333232;
@define-color selected_fg_color #515459;
@define-color input_color #333232;
@define-color caret_color #333232;

/**
 * Result items
 */
@define-color item_name #333232;
@define-color item_text #333232;
@define-color item_box_selected #333232;
@define-color item_text_selected #f2f0ef;
@define-color item_name_selected #E0E0E0;
@define-color item_shortcut_color #333232;
@define-color item_shortcut_color_sel #E0E0E0;

.app {
  background-color: @window_bg;
  border-color: @window_border_color;
  border-width: 2px;
  border-radius: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.input {
  color: @input_color;
}

/**
 * Selected text in input
 */
.input *:selected,
.input *:focus,
*:selected:focus {
  background-color: alpha (@selected_bg_color, 0.9);
  color: @selected_fg_color;
}

.item-text {
  color: @item_text;
}
.item-name {
  color: @item_name;
}

.selected.item-box {
  background-color: @item_box_selected;
  border-radius: 14px;
}
.selected.item-box .item-text {
  color: @item_text_selected;
}
.selected.item-box .item-name {
  color: @item_name_selected;
}
.item-shortcut {
  color: @item_shortcut_color;
  text-shadow: none;
}
.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  text-shadow: none;
}

.prefs-btn {
  opacity: 1;
}

.prefs-btn:hover {
  background-color: @prefs_backgroud;
}

.no-window-shadow {
  margin: -20px;
}
